/* MOBILE QUERIES */
@media (max-width: 768px) {
    /* Hide desktop menu and show hamburger on mobile */
    header {
        align-items: center;
        padding: 1em;
    }
    
    /* Hamburger Menu Icon */
    .hamburger-menu {
        display: none; /* Show the hamburger menu */
        position: fixed; /* Fixed position */
        top: 40px; /* Adjust as needed for vertical alignment */
        right: 29px; /* Adjust as needed for horizontal alignment */
        z-index: 1000; /* Ensure it's above other content */
        cursor: pointer;
        background-color: transparent !important;
    }

    .hamburger-menu span {
        display: block;
        width: 25px; /* Width of the bar */
        height: 3px; /* Height of the bar */
        margin: 5px 0; /* Space between bars */
        background-color: #000; /* Color of the bar */
        transition: all 0.3s ease-in-out;
    }

    .hamburger-menu span:nth-child(1) {
        width: 35px; /* Longest line */
    }

    .hamburger-menu span:nth-child(2) {
        width: 25px; /* Shorter line */
    }

    .hamburger-menu span:nth-child(3) {
        width: 15px; /* Shortest line */
    }

    .hamburger-menu.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
        width: 35px;
    }
    
    .title-name{
        font-size: 24px;
    }
    
    #nav-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        align-items: flex-start;
        width: 100%;
        text-align: center;
        margin: 0;
        padding-top: 10px;
        padding-left: 10px;
    }

    /* Show menu when active */
    #nav-list.active {
        display: flex; /* Show the menu */
    }

    #nav-list li {
        margin: 0;
        padding: 5px;
        text-align: left;
    }
    
    #nav-list li a {
        color: #D0D0D0;
        text-decoration: none;
        
        font-family: Editor;
        font-size: 18px;
        font-weight: 400;
        text-align: left; /* Left-align the text within the link */
        width: 100%; /* Ensure the link takes full width for left alignment */
    }
    
    #nav-list li a:hover {
        color: black;
        text-decoration: underline;
    }
    
    .hamburger-menu {
        display: block;
        background-color: transparent !important;
        z-index: 1000;
        top: 25px;
    }
    
    /* Navigation */
    .navigation {
        position: absolute;
        top: 100%; 
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 900;
        background-color: white;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        max-height: 0; /* Initially collapsed */
        opacity: 0; /* Initially invisible */
        visibility: hidden; /* Hidden but takes up space */
        transition: max-height 0.3s ease, 
            opacity 0.3s ease, 
            visibility 0.3s;

        border-top: 1px solid black;
    }

    .navigation.active {
        max-height: calc(100vh - 100px); 
        opacity: 1; 
        visibility: visible;
        overflow-y: auto;
    }

    .content{
        width: 100%;
        height: 100%;
    }
    
    .parent-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 0;
        height: 100%;
    
        padding: 10px;
        
        flex-grow: 1; /* Allows the grid to grow and fill available space */
    } 
    
    .work-list a{
        font-size: 20px;
    }
    
    .dropdown-toggle {
        font-size: 20px;
    }
    
    #projects a {
        font-size: 16px;
    }

    #tab-list li a {
        position: relative;
        display: inline-block;
        font-family: Editor, Georgia, Times New Roman, Times, serif;
        font-size: 12px;
        font-weight: 400; /* Normal font weight */
        color: #adadad;
        text-decoration: none;
    }

    .tab-body {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-column-gap: 0;
        grid-row-gap: 20px;
        padding: 20px;
    }

    .tab-text {
        grid-area: 1 / 1 / 2 / 2;
        background-color: white;
    }

    .tab-gallery {
        grid-area: 2 / 1 / 3 / 2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%; 
        height: auto; 
        overflow: hidden;
        background-color: white;
    }

    .tab-image {
        width: 100%; 
        height: auto; 
        object-fit: cover;
        transition: opacity 0.6s ease-in-out, border-color 0.3s ease;
        opacity: 1;
    }

    .tab-image img {
        padding: 0;
        margin: 0;

        width: 100%; 
        height: auto; 
    }

    .spacer {
        height: 20px;
        width: 100%; /* Ensures it stretches across the full width */
        background-color: transparent; 
    }
}

@media (min-width: 768px) {
    /* Show horizontal desktop menu */
    #nav-list {
        display: flex;
    }

    .hero {
        padding: 60px;
    }

    footer {
        padding: 30px;
    }
}

