/*** CSS FOR LIKE IT IS PRELUDE ***/

/* Ensure full page expansion */
html, body {
    min-height: 100vh; /* Ensure body is at least the height of the viewport */
    margin: 0;
    padding: 0;
    width: 100%; /* Ensures body takes up full width */

    scrollbar-width: thin; /* Narrow scrollbar */
    scrollbar-color: black transparent; /* Black scroller, transparent background */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    color: #333;
    padding: 0;
    min-height: 100vh;
    display: flex; /* Use flexbox to ensure the content expands properly */
    flex-direction: column; /* Stack elements vertically */
}

/* Chrome, Safari, and newer Edge */
::-webkit-scrollbar {
    width: 10px; /* Adjust scrollbar width */
}

::-webkit-scrollbar-track {
    background-color: transparent; /* Transparent track background */
    border-left: 1px solid black; /* Black border to simulate 1px line */
}

::-webkit-scrollbar-thumb {
    background-color: black; /* Black scroller */
    border-radius: 0; /* Keep it a rectangle */
}

h2 {
    padding-bottom: 10px;
}

h2 a {
    text-decoration: none;
}

h2 a:visited{
     color: black;
}

a {
    color: black;
}


a:visited{
    color: black;
}

/* Header */
header {
    background-color: #fff;
    padding: 1em;
    margin: 0;
    width: 100%;
    display: flex; /* Flexbox layout */
    justify-content: space-between; /* Space between title and nav */
    align-items: flex-end; /* Align items to the bottom */
    position: relative; /* Establishes positioning context for absolute elements */
    
    border-bottom: 1px solid black;
}

/* Stacked title-name */
.title-name {
    color: black !important;
    font-family: Editor, Georgia, Times New Roman, Times, serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.2;
    max-width: 100%;
}

.title-name .first-line {
    letter-spacing: 0.05em; /* Adjust character spacing only for the first line */
}

.title-name a {
    text-decoration: none;
    transition: none;
    text-align: justify;
    display: inline-block;
    width: 100%;
}

.title-name a:hover {
    text-decoration: none;
    transition: none;
    --underline-width: 0;
}

.title-name a:visited {
    text-decoration: none;
    transition: none;
    --underline-width: 0;
    color: black;
}

.bar {
    position: flex;
    width: 100%;
    height: 5px;

    background-color: black;
    bottom: 0;
    top: 10px;
}


/* Navigation Menu (Desktop) */
#nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#nav-list li {
    text-align: center;
    margin: 0 15px;
    padding: 10px;
    position: relative;
    display: inline-block;
}

/* Set fixed widths for each tab */
#nav-list li:nth-child(1) {
    width: 100px; 
}

#nav-list li:nth-child(2) {
    width: 100px;
}

#nav-list li a {
    position: relative;
    display: inline-block;
    font-family: Degular, sans-serif;
    font-size: 18px;
    font-weight: 400; /* Normal font weight */
    color: #adadad;
    text-decoration: none;
}

#nav-list li a:hover {
    color: black; 
    --underline-width: 0;
    font-weight: 700;
    text-decoration: underline;
}

#nav-list li a.active {
    color: black;
    --underline-width: 0;
    font-weight: 700;
    text-decoration: underline;
}

.navigation{
    background-color: transparent;
    position: relative;
    top: 16px;
}

/* Hamburger Menu Icon */
.hamburger-menu {
    display: none; /* Show the hamburger menu */
    position: fixed; /* Fixed position */
    top: 40px; /* Adjust as needed for vertical alignment */
    right: 29px; /* Adjust as needed for horizontal alignment */
    z-index: 1000; /* Ensure it's above other content */
    cursor: pointer;
    background-color: transparent !important;
}

.hamburger-menu span {
    display: block;
    width: 25px; /* Width of the bar */
    height: 3px; /* Height of the bar */
    margin: 5px 0; /* Space between bars */
    background-color: #000; /* Color of the bar */
    transition: all 0.3s ease-in-out;
}

.hamburger-menu span:nth-child(1) {
    width: 35px; /* Longest line */
}

.hamburger-menu span:nth-child(2) {
    width: 25px; /* Shorter line */
}

.hamburger-menu span:nth-child(3) {
    width: 15px; /* Shortest line */
}

.hamburger-menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-menu.active span:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
    width: 35px;
}



/*** Main content ***/
main {
    height: calc(100vh - 130px); /* Adjust 100px based on the height of your header/footer */
    overflow: hidden; /* This will handle any overflowing content */
}

.content {
    width: 100%;
    height: 100%;

    padding: 20px;
}

.parent-grid {
    display: grid;
    grid-template-columns: auto auto; 
    grid-template-rows: repeat(2, auto); 
    grid-column-gap: 100px; /* Space between columns */
    grid-row-gap: 20px; /* Space between rows */
    padding: 50px 100px 150px 100px;
    box-sizing: border-box;
    border: 1px solid black;
    overflow-y: auto; /* Ensure scrolling if needed */

    height: 100%;
}

/* Title spanning full width at the top */
.work-title-wrapper {
    grid-column: 1;
    line-height: 1.6;
    margin-bottom: 5px;
}

.work-title {
    font-family: Degular, sans-serif; 
    font-weight: 700;
    font-size: 18px;
    font-style: italic;
    text-align: right;
}

.work-info {
    font-family: Degular, sans-serif; 
    font-weight: 400;
    font-size: 16px;
    text-align: right;
}

/* .content-grid-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 20px; 
    width: 100%;
    padding-bottom: 30px;
} */

/* First row: image then text */
.gallery-1 {
    grid-column: 2;
}

.work-container-1 {
    grid-column: 2; 
    width: 600px;
    text-align: justify;
}

/* Second row: text then image */
.content-grid-wrapper:nth-of-type(2) {
    grid-column: 1 / -1;
}

.work-container-2 {
    grid-column: 1; /* First column */
    width: 900px;
    text-align: justify;
}
.gallery-2 {
    grid-column: 2; /* Second column */
}

/* Third row: image then text */
.content-grid-wrapper:nth-of-type(3) {
    grid-column: 1 / -1;
}
.gallery-3 {
    grid-column: 1; /* First column */
}
.work-container-3 {
    grid-column: 2; /* Second column */
    width: 600px;
    text-align: justify;
}

/* Fourth row: image then text */
.content-grid-wrapper:nth-of-type(4) {
    grid-column: 1 / -1;
}
.gallery-4 {
    grid-column: 2; /* First column */
}
.work-container-4 {
    grid-column: 1; /* Second column */
    width: 600px;
    text-align: justify;
}

/* Fifth row: image then text */
.content-grid-wrapper:nth-of-type(5) {
    grid-column: 1 / -1;
}
.gallery-5 {
    grid-column: 1; /* First column */
}
.work-container-5 {
    grid-column: 2; /* Second column */
    width: 600px;
    text-align: justify;
}

.spacer {
    height: 100px;
    width: auto;
}

.text-name {
    font-family: Degular;
    font-weight: 700;
    font-size: 18px;

    margin-bottom: 20px;
}

.text-name a:hover {
    font-family: Degular;
    font-weight: 700;
    font-size: 18px;
}

.interview-name {
    font-family: Degular;
    font-weight: 700;
    font-size: 18px;
    
    margin-top: 5px; 
    margin-bottom: 5px; 
}

.interview-text {
    font-family: Degular;
    font-weight: 400;
    font-size: 18px;
    
    margin-bottom: 20px;
}

.stopper {
    font-size: 12px;
}

.work-list {
    width: fit-content;
    height: auto;
    grid-area: 1 / 1 / 4 / 2;
    overflow: visible; /* Ensure it doesn't cut off content */
}

.work-list a{
    font-family: Degular;
    font-weight: 700;
    text-decoration: none;
    color: #f5f5f5 !important;
}

.work-list a:hover{
    /*text-decoration: underline;*/
    color: black !important;
}


/* Dropdown Menu*/
.dropdown-toggle {
    font-family: Degular;
    font-weight: 700;
    cursor: pointer;
    width: fit-content;
    height: auto;
    color: #f5f5f5;
    transition: color 0.3s ease; /* Smooth color transition */
    position: relative;
    
    padding-right: 25px;
}

.dropdown-toggle:hover{
    color: black;
}

/* Add the arrow with ::after */
.dropdown-toggle::after {
    content: '▼'; /* Down arrow symbol */
    font-size: 14px; /* Adjust arrow size as needed */
    color: transparent; /* Hidden by default */
    position: absolute;
    right: 0; /* Position it to the right of the text */
    top: 40%; /* Vertically center the arrow */
    transform: translateY(-50%) rotate(0deg); /* Initial state */
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Smooth transitions */}

/* Fade in arrow on hover */
.dropdown-toggle:hover::after {
    opacity: 1;
    color: black;
}

.dropdown-active::after {
    /*content: '▲';  Up arrow symbol */
    opacity: 1; /* Keep it visible */
    color: black; /* Change color to black when active */
    transform: translateY(-50%) rotate(180deg); /* Rotate the arrow up */
    transition: opacity 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
}

.dropdown-active {
    color: black !important;
}

.dropdown-content {
    display: none;
    padding-bottom: 15px;
    padding-left: 15px;
    pointer-events: auto;
}

.dropdown-content a {
    /*padding-bottom: 10px;*/
    color: black !important;
}

.dropdown-content p {
    padding-bottom: 10px;
}

.dropdown-active .dropdown-content {
    display: block;
}

#projects a {
    font-family: Degular;
    font-weight: 400;
    color: #D0D0D0;
}

.image-frame {
    grid-area: 1 / 2 / 4 / 4;
    position: relative;
    left: 15%;
    width: 1200px;
    height: 1000px;
    background-color: #000; /* Fallback background color */
    overflow-x: visible; /* Ensure content doesn't overflow */
    z-index: 1;
    border-radius: 50%;
    
    background-size: cover;  /* Makes the image fill the entire circle */
    background-position: center;
    /*transition: background-image 0.3s ease-in-out;   Smooth transition */
}

.background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    /*border-radius: 50%; */
    transition: none;
}


/* Footer */
footer {
    position: fixed; /* Keep the footer fixed at the bottom */
    left: 0;         /* Align footer to the left */
    bottom: 0;       /* Position it at the bottom of the viewport */
    height: auto;
    width: 100%;     /* Make the footer take up the full width */
    text-align: center;
    font-size: 10px;
    color: black;
    z-index: 1000;   /* Ensure it appears above other elements */
    padding: 5px 0 !important;
    border-top: 1px solid black;
    background-color: white;
}

.previous-page { 
    font-size: 18px;
    margin: 0 0 0 15px;
    padding: 0;
}

.previous-page a { 
    text-decoration: none;
}

.previous-page a:hover { 
    text-decoration: underline;
}

/* Marquee styles */
.marquee {
    --gap: 1rem;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}

.marquee__content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--gap);
    
    animation: scroll 10s linear infinite; /* Apply the animation */
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}



/*** FONTS ***/
@font-face {
    font-family: 'Editor';
    src: url('../fonts/editor/Editor-Regular.otf');
}

@font-face {
    font-family: 'EditorBold';
    src: url('../fonts/editor/Editor-Bold.otf');
}

@font-face {
    font-family: 'EditorBoldItalic';
    src: url('../fonts/editor/Editor-BoldItalic.otf');
}


@font-face {
    font-family: 'EditorItalic';
    src: url('../fonts/editor/Editor-Italic.otf');
}

@font-face {
    font-family: 'Pachinko';
    src: url('../fonts/pachinko/PachinkoSans-Regular.otf');
}

@font-face {
    font-family: 'PachinkoBold';
    src: url('../fonts/pachinko/PachinkoSans-Bold.otf');
}

@font-face {
    font-family: 'PachinkoBoldItalic';
    src: url('../fonts/pachinko/PachinkoSans-BoldItalic.otf');
}


@font-face {
    font-family: 'PachinkoItalic';
    src: url('../fonts/pachinko/PachinkoSans-Italic.otf');
}

@font-face {
    font-family: 'Degular';
    src: url('../fonts/degular-variable/DegularVariable.ttf');
}

@media (max-width: 1000px) {
    .parent-grid {
        width: 100%;
        border: 1px solid red;

        grid-template-columns: auto auto; 
        grid-template-rows: repeat(2, auto); 
        grid-column-gap: 50px; /* Space between columns */
        grid-row-gap: 20px; /* Space between rows */
        padding: 50px 50px 150px 50px;

        overflow-y: auto; /* Ensure scrolling if needed */
    }
}

@media (min-width: 769px) {
    .navigation-mobile {
        display: none;
    }
}